<body>
    <!-- <input type="text" [(ngModel)]="search"> -->
    <div class="form__group field">
        <input type="input" class="form__field" placeholder="Name" name="name" id='name' required [(ngModel)]="search"/>
        <label for="name" class="form__label">Name</label>
      </div>
<button (click)="searchCall()" [matMenuTriggerFor]="menu">Search</button>
<div class="result_names">
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="showWeather(result.url)" *ngFor="let result of results">

    {{ result.name }}

  </button>
</mat-menu>
</div>

<!-- <div class="gradient-wrapper absolute-center"> -->

  <div class="weather absolute-center" *ngIf="weather">
  
    <div class="icon"><img src = "{{ weather.current.condition.icon}}"></div>
    <div class="name line">{{weather.location.name}}</div>
      <div class="condition line">{{ weather.current.condition.text }}</div>
      <div class="feels-like line">Feels like: {{ weather.current.feelslike_c }}' C</div>
      <div class="temp line"> Temperature: {{ weather.current.temp_c }}' C</div>
    </div>
  

<!-- </div> -->

</body>